@media screen and (max-width: 1500px) {
  .AiTechnology-introduce p {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 1300px) {
  .AiTechnology-introduce p {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1110px) {
  .AiTechnology-introduce p {
    transform: scale(0.7);
  }
  .AiTechnology-introduce .tz a {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 950px) {
  .AiTechnology-introduce {
    justify-content: flex-end;
  }
  .AiTechnology-introduce p {
    transform: scale(0.6);
  }
  .AiTechnology-introduce .tz a {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 775px) {
  .AiTechnology-introduce p {
    transform: scale(0.5);
  }
  .AiTechnology-introduce .tz a {
    transform: scale(0.5);
  }
}
@media screen and (max-width: 700px) {
  .AiTechnology-introduce .tz {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .AiTechnology-introduce p {
    transform: scale(0.3);
  }
  .AiTechnology-introduce .tz a {
    transform: scale(0.3);
  }
}
@media screen and (max-width: 600px) {
  .AiTechnology-introduce p {
    transform: scale(0.4);
    font-size: large;
  }
}
.swiper {
  width: 100%;
  height: 67%;
  position: relative;
  padding: 0;
  /* <-- 自定义swiper组件 --> */
}
.swiper .swiper-pagination > span {
  width: 2em !important;
  height: 4px !important;
  transform: skewX(-45deg);
  background: var(--bili-blue);
  border-radius: 0;
  background-color: #66d7fb !important;
}
.swiper .swiper-scrollbar {
  background: var(--bili-blue);
  background-color: #12aae16b;
}
.swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #ffffff;
  background-color: var(--bili-blue);
}
.swiper .swiper-button-prev {
  color: var(--text-lighter) !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-button-next {
  color: var(--text-lighter) !important;
  color: var(--bili-pink) !important;
  color: #66d7fb !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  position: relative;
}
.swiper .swiper-slide .mark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff33;
}
.swiper .swiper-slide content {
  display: block;
  padding: 0 10%;
  width: 100%;
  height: 55%;
  color: var(--text-gray);
  z-index: 2;
}
.swiper .swiper-slide content > h1 {
  color: var(--text-gray-hover);
}
.swiper .swiper-slide content > h1 i {
  font-style: normal;
  font-weight: lighter;
  font-size: smaller;
  vertical-align: baseline;
}
.swiper .swiper-slide content > * {
  margin-top: 1em;
  color: var(--text-lighter);
}
.swiper .swiper-slide content .learn-more {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper .swiper-slide content .learn-more i {
  width: 15px;
  height: 15px;
  display: flex;
}
.swiper .swiper-slide content .learn-more:hover {
  background: var(--head-bg-hover);
  background: #00000045;
}
.introduce {
  height: max-content;
}
.introduce .AiTechnology {
  position: relative;
  padding: 0 10%;
  padding-top: 8rem;
  text-align: center;
  padding-bottom: 4rem;
}
.introduce .AiTechnology::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -13%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.introduce .AiTechnology::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -13%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.introduce .AiTechnology:nth-child(1) {
  padding-bottom: 0;
}
.introduce .AiTechnology:nth-child(1) .AiTechnology-body-right-img {
  background: no-repeat;
  background-size: contain;
}
.introduce .AiTechnology:nth-child(3) {
  background: #0d1c59;
}
.introduce .AiTechnology:nth-child(3) .AiTechnology-title h3 {
  color: #dedede;
}
.introduce .AiTechnology:nth-child(3) .AiTechnology-title p {
  transform: scale(0.8);
  color: #d3d3d354;
}
.introduce .AiTechnology .AiTechnology-bg {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 73%;
  background: url(../../images/line-bg.svg) no-repeat center center;
  bottom: 0;
  left: 0;
  background-size: contain;
}
.introduce .AiTechnology .AiTechnology-title h3 {
  color: #141414;
}
.introduce .AiTechnology .AiTechnology-title p {
  transform: scale(0.8);
  color: rgba(172, 172, 172, 0.573);
}
.introduce .AiTechnology .AiTechnology-body {
  padding: 0 5%;
  padding-top: 2rem;
  background: url(../../images/deedfx-box-bg.jpg);
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #e6e7f0;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-top {
  padding-top: 1rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .content {
  padding-top: 1.5rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .content p:not(:first-child) {
  margin-bottom: 0.5em;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  color: #e6e7f0;
  border: 3px solid #e6e7f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot i {
  width: 15px;
  height: 15px;
  display: flex;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot:hover {
  background: var(--head-bg-hover);
  background: #00000045;
  border: 3px solid #c2c2c2;
  color: #c2c2c2;
}
.introduce .AiTechnology .AiTechnology-body-right-img {
  width: 28%;
  height: 16rem;
  background: no-repeat;
  background-size: contain;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 0 2rem 0;
}
.introduce .AiTechnology .AiTechnology-images {
  display: flex;
  justify-content: center;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img {
  position: relative;
  padding: 6.8% 12%;
  margin: 0.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160deg, rgba(16, 52, 117, 0.8), rgba(33, 67, 193, 0.8));
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img p {
  padding-top: 0.8rem;
  color: var(--text-gray);
  width: max-content;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce {
  position: absolute;
  top: 0;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  background: url(../../images/solution-mask.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce p {
  color: var(--text-gray-hover);
  margin-bottom: 0;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .tz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .tz a {
  padding: 0.2rem 0.5rem;
  width: max-content;
  font-size: 0.8rem;
  color: var(--text-gray-hover);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 9rem;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span {
  position: absolute;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(1) {
  width: 0%;
  height: 2px;
  left: 0;
  top: 0;
  background: #8debf1;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(2) {
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: #94b9fd;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(3) {
  width: 2px;
  height: 0%;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: linear-gradient(to bottom, #94b9fd, #8debf1);
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(4) {
  width: 2px;
  height: 0%;
  right: 0;
  background: linear-gradient(to bottom, #8debf1, #94b9fd);
}
.introduce .practice {
  padding-top: 4rem;
}
.introduce .practice .practice-title {
  text-align: center;
}
.introduce .practice .practice-title h3 {
  color: #dedede;
}
.introduce .practice .practice-title p {
  transform: scale(0.8);
}
.introduce .practice .practice-title p span {
  color: var(--text-gray);
  padding: 0 0.7rem;
}
.introduce .practice .practice-title p a {
  color: var(--text-gray);
}
.introduce .practice .practice-title p .active {
  color: var(--text-gray-hover);
}
.introduce .practice .practice-body {
  display: none;
  padding-top: 3rem;
}
.introduce .practice .practice-body h3 {
  color: #fff;
}
.introduce .practice .practice-body p {
  padding: 1rem 0;
  color: #fff;
  width: 55%;
  font-size: smaller;
  margin-bottom: 0;
}
