html,
body {
    margin: 0;
    /* padding: 0 10% 0; */
    height: 100%;
    /* background-color: #f9f9f9; */
    /* background-color: #111111; */
}

body {
    padding: 0;
    position: relative;
    background-color: #f2f2f2;
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) */
    /* display: flex; */
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: MiSans;
    transition: all .3s;
    user-select: none;
}

.hr {
    display: block;
    height: 2px;
    width: 100%;
    background-color: hsl(0deg 0% 75% / 45%);
    margin: auto;
}

li{
    list-style: none;
}