:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
}
.swiper {
  width: 100%;
  height: 67%;
  position: relative;
  padding: 0;
  /* <-- 自定义swiper组件 --> */
}
.swiper .swiper-pagination > span {
  width: 2em !important;
  height: 4px !important;
  transform: skewX(-45deg);
  background: var(--bili-blue);
  border-radius: 0;
  background-color: #66d7fb !important;
}
.swiper .swiper-scrollbar {
  background: var(--bili-blue);
  background-color: #12aae16b;
}
.swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #ffffff;
  background-color: var(--bili-blue);
}
.swiper .swiper-button-prev {
  color: var(--text-lighter) !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-button-next {
  color: var(--text-lighter) !important;
  color: var(--bili-pink) !important;
  color: #66d7fb !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  position: relative;
}
.swiper .swiper-slide .mark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff33;
}
.swiper .swiper-slide content {
  display: block;
  padding: 0 10%;
  width: 100%;
  height: 55%;
  color: var(--text-gray);
  z-index: 2;
}
.swiper .swiper-slide content > h1 {
  color: var(--text-gray-hover);
}
.swiper .swiper-slide content > h1 i {
  font-style: normal;
  font-weight: lighter;
  font-size: smaller;
  vertical-align: baseline;
}
.swiper .swiper-slide content > * {
  margin-top: 1em;
  color: var(--text-lighter);
}
.swiper .swiper-slide content .learn-more {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper .swiper-slide content .learn-more i {
  width: 15px;
  height: 15px;
  display: flex;
}
.swiper .swiper-slide content .learn-more:hover {
  background: var(--head-bg-hover);
  background: #00000045;
}
.banner {
  position: relative;
  height: 50rem;
  width: 100%;
  padding: 0 10%;
  background: #fff url(../../images/target-detection.jpg) no-repeat;
  background-position: bottom;
  background-size: 100% 60%;
}
.banner::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: 10%;
  left: 0;
  background: url(../../images/title-divide-line.png) no-repeat;
}
.banner::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: 10%;
  right: 0;
  background: url(../../images/title-divide-line.png) no-repeat;
  transform: rotate(180deg);
}
.banner picture {
  display: block;
  height: 14%;
}
.banner .swiper {
  width: 100%;
  height: 8rem;
}
.banner .swiper .swiper-slide {
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-wrap: wrap;
}
.banner .swiper .swiper-slide title {
  text-align: center;
  display: block;
  width: 100%;
}
.banner .swiper .swiper-slide p {
  color: #9f9f9f;
  width: max-content;
}
.banner .swiper .swiper-slide p a {
  color: var(--text-gray);
  font-size: x-small;
}
.banner .swiper .swiper-slide p .act {
  color: var(--bili-blue);
}
.banner .swiper .swiper-slide p i {
  margin: 0 1em;
  color: #545454;
  font-size: xx-small;
}
.banner .swiper .swiper-pagination .swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  transform: none;
  background: var(--bili-blue) !important;
  margin: 0;
  border-radius: 6px;
}
.banner .container-fluid {
  height: calc(85% - 128px);
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  overflow: hidden;
}
.banner .container-fluid .row {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.banner .container-fluid .row div[class*="col-3"] {
  width: calc(95% / 4) !important;
  height: calc(98% / 3) !important;
}
.banner .container-fluid .row div[class="col-4"] {
  height: 100%;
  width: calc(98% / 3);
}
.banner .container-fluid .row div[class="col-4"] .box {
  transform: translate(-50%, -25%) !important;
  z-index: 0;
}
.banner .container-fluid .row div[class="col-41"] {
  height: 100%;
  width: calc(98% / 4);
}
.banner .container-fluid .row div[class="col-41"] .box {
  transform: translate(-50%, -25%) !important;
  z-index: 0;
}
.banner .container-fluid .row div[class*="col-"] {
  background: var(--blue-gray);
  display: flex;
  position: relative;
  padding: 0;
  margin-bottom: 10px;
}
.banner .container-fluid .row div[class*="col-"] .box {
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: var(--text-gray-hover);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}
.banner .container-fluid .row div[class*="col-"] .box i {
  font-size: 3.5rem;
}
.banner .container-fluid .row div[class*="col-"] video {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  z-index: 1;
  background: #242426;
}
.AiTechnology {
  position: relative;
  padding: 0 10%;
  padding-top: 8rem;
  text-align: center;
  padding-bottom: 4rem;
  z-index: 1;
}
.AiTechnology .head-button {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, 0);
  color: var(--bili-blue);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border: 2px;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}
.AiTechnology .head-button:hover::before {
  background-image: linear-gradient(to right, var(--blue-gray), var(--bili-blue));
}
.AiTechnology .head-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 99%;
  background-image: linear-gradient(to right, var(--bili-blue), var(--blue-gray));
  z-index: -1;
}
.AiTechnology .head-button::after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  width: 98%;
  height: 90%;
  background: #fff;
  z-index: -1;
  border-radius: 33px;
}
.AiTechnology:nth-child(1) {
  padding-bottom: 0;
}
.AiTechnology:nth-child(1) .AiTechnology-body-right-img {
  background: url(../../images/product/iBox-D.png) no-repeat;
  background-size: contain;
}
.AiTechnology:nth-child(3) {
  background: #0d1c59;
}
.AiTechnology:nth-child(3) .AiTechnology-title h3 {
  color: #dedede;
}
.AiTechnology:nth-child(3) .AiTechnology-title p {
  transform: scale(0.8);
  color: #d3d3d354;
}
.AiTechnology::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -13%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.AiTechnology::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -13%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.AiTechnology .AiTechnology-bg {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 73%;
  background: url(../../images/line-bg.svg) no-repeat center center;
  bottom: 0;
  left: 0;
  background-size: contain;
}
.AiTechnology .AiTechnology-title h3 {
  color: #141414;
}
.AiTechnology .AiTechnology-title p {
  transform: scale(0.8);
  color: rgba(172, 172, 172, 0.573);
}
.AiTechnology .AiTechnology-body {
  position: relative;
  padding: 0 5%;
  padding-top: 0rem;
  background: url(../../images/algorithm-facesb-bg.jpg);
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #e6e7f0;
  width: 70%;
  margin: auto;
  height: 300px;
}
.AiTechnology .AiTechnology-body .mark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff1a;
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left .title {
  display: flex;
  align-items: center;
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left .title i {
  font-size: xxx-large;
  margin: 0 0.5em 0 0;
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left .title h2 {
  color: var(--text-lighter);
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left .content p {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: small;
  color: var(--text-lighter);
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left .content p:first-child {
  margin-top: 1.5rem;
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  color: #e6e7f0;
  border: 3px solid #e6e7f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot i {
  width: 15px;
  height: 15px;
  display: flex;
}
.AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot:hover {
  background: var(--head-bg-hover);
  background: #00000045;
  border: 3px solid #c2c2c2;
  color: #c2c2c2;
}
.AiTechnology .AiTechnology-body-right-img {
  padding-top: 2em;
  width: 50%;
  height: 16rem;
  background: no-repeat;
  background-size: contain;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 0 2rem 0;
}
.AiTechnology .AiTechnology-images {
  display: flex;
  justify-content: center;
}
.AiTechnology .AiTechnology-images .AiTechnology-img {
  position: relative;
  padding: 6.8% 12%;
  margin: 0.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160deg, rgba(16, 52, 117, 0.8), rgba(33, 67, 193, 0.8));
}
.AiTechnology .AiTechnology-images .AiTechnology-img p {
  padding-top: 0.8rem;
  color: var(--text-gray);
  width: max-content;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce {
  position: absolute;
  top: 0;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  background: url(../../images/solution-mask.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce p {
  color: var(--text-gray-hover);
  margin-bottom: 0;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce p .tz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce p .tz a {
  padding: 0.2rem 0.5rem;
  width: max-content;
  font-size: 0.8rem;
  color: var(--text-gray-hover);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 9rem;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span {
  position: absolute;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(1) {
  width: 0%;
  height: 2px;
  left: 0;
  top: 0;
  background: #8debf1;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(2) {
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: #94b9fd;
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(3) {
  width: 2px;
  height: 0%;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: linear-gradient(to bottom, #94b9fd, #8debf1);
}
.AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(4) {
  width: 2px;
  height: 0%;
  right: 0;
  background: linear-gradient(to bottom, #8debf1, #94b9fd);
}
