:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
  --line: hsla(0, 0%, 75%, 0.45);
}
@media screen and (max-width: 1300px) {
  .programme main[class*="body"] main .content .page > div {
    width: calc(90%/2) !important;
  }
}
@media screen and (max-width: 1200px) {
  .AiTechnology-introduce {
    padding-top: 2rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .AiTechnology-introduce {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 800px) {
  .programme main[class*="body"] main .content .page {
    justify-content: center;
  }
  .programme main[class*="body"] main .content .page > div {
    width: calc(90%/1) !important;
  }
  .summary main > div .content div[class*="col-"] .msgbox {
    display: none;
  }
  .AiTechnology-img {
    width: 50% !important;
  }
  .AiTechnology-images {
    flex-direction: column;
    align-items: center;
  }
  .AiTechnology-images .tz {
    margin-top: 0 !important;
  }
  .AiTechnology-images .tz a {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .AiTechnology-img {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .AiTechnology-img {
    height: 14rem;
  }
}
.Security {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.Security .Security-bg {
  position: relative;
  background: no-repeat center center / cover;
}
.Security ul {
  margin: 0;
  padding: 0;
  width: max-content;
  position: absolute;
}
.Security ul li {
  color: var(--blue-gray);
  font-size: smaller;
}
.Security ul li i {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: var(--blue-gray);
  vertical-align: middle;
  margin-right: 0.8rem;
}
.Security ul:nth-child(1),
.Security ul:nth-child(2) {
  left: 21%;
}
.Security ul:nth-child(1) {
  top: 24%;
}
.Security ul:nth-child(2) {
  top: 70%;
}
.Security ul:nth-child(3),
.Security ul:nth-child(4) {
  right: 22%;
}
.Security ul:nth-child(3) {
  top: 22%;
}
.Security ul:nth-child(4) {
  top: 70%;
}
.programme {
  padding: 4rem 10% 0;
  position: relative;
}
.programme::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 0;
  left: 0%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.programme::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 0;
  right: 0%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.programme main[class*="body"] {
  width: 100%;
  height: max-content;
  padding: 4rem 0;
  position: relative;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.programme main[class*="body"] .head {
  text-align: center;
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
.programme main[class*="body"] .head .title {
  font-size: large;
  width: 100%;
}
.programme main[class*="body"] .head .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.programme main[class*="body"] .head .content span {
  font-size: small;
}
.programme main[class*="body"] .head .content i {
  font-style: normal;
  margin: 0.5em;
}
.programme main[class*="body"] .head .content .act {
  color: var(--bili-blue);
}
.programme main[class*="body"] main {
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(225deg, #1a4882 30%, #2580b3 100%);
}
.programme main[class*="body"] main > div {
  width: 100%;
}
.programme main[class*="body"] main .head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.programme main[class*="body"] main .head .row {
  padding: 0 2em;
  width: max-content;
  max-width: 100%;
  min-height: 50%;
  display: flex;
  flex-wrap: wrap;
}
.programme main[class*="body"] main .head .row div[class*="col-"] {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.programme main[class*="body"] main .head .row div[class*="col-"] .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
}
.programme main[class*="body"] main .head .row div[class*="col-"] .title h3 {
  color: var(--text-gray-hover);
  margin: 0;
}
.programme main[class*="body"] main .head .row div[class*="col-"] .title i {
  margin: 0 0.5em;
  font-size: xx-large;
  font-family: "iconfont";
  font-style: normal;
  color: var(--text-gray-hover);
}
.programme main[class*="body"] main .head .row div[class*="col-"] p {
  margin-top: 1em;
  color: var(--text-gray-hover) !important;
}
.programme main[class*="body"] main .head .row div[class*="col-"] p:not(first-child) {
  color: var(--text-lighter);
  text-align: left;
}
.programme main[class*="body"] main .head .row div[class*="col-"] picture {
  margin: auto;
}
.programme main[class*="body"] main .head .row div[class*="col-"] .pic-p2 {
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: -6px 6px 6px 0px #02020221;
}
.programme main[class*="body"] main .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.programme main[class*="body"] main .content > div {
  width: 100%;
  max-width: 100%;
  padding: 0 2em;
  height: max-content;
  min-height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.programme main[class*="body"] main .content .page > div {
  position: relative;
  width: calc(90% / 3);
  margin-bottom: 2em;
  border-radius: 8px;
  overflow: hidden;
}
.programme main[class*="body"] main .content .page > div:hover > span {
  color: var(--bili-blue);
}
.programme main[class*="body"] main .content .page > div > p {
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding-left: 2rem;
  color: var(--text-gray-hover);
  text-align: left;
  line-height: 2rem;
  height: 2rem;
  background: #00000057;
}
.programme main[class*="body"] main .content .page > div > content {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-top: 2rem;
  background: #0000002f;
}
.programme main[class*="body"] main .content .page > div > content ul {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* float: left; */
}
.programme main[class*="body"] main .content .page > div > content ul .more {
  text-indent: 0.9875rem;
}
.programme main[class*="body"] main .content .page > div > content ul li {
  float: left;
  line-height: 2rem;
  /*  margin-left: 2rem; */
  color: var(--text-gray-hover);
  /* font-size: smaller; */
}
.programme main[class*="body"] main .content .page > div > content ul li i {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: var(--text-gray-hover);
  vertical-align: middle;
  margin-right: 0.8rem;
}
.programme main[class*="body"] main .content .page > div > content .son-100 li {
  width: 100%;
}
.programme main[class*="body"] main .content .page > div > content .son-50 li {
  width: 50%;
}
.programme main[class*="body"] main .content .page > div > content .son-30 li {
  width: 30%;
}
.summary {
  width: 100%;
  height: max-content;
  padding: 4rem 0;
  position: relative;
}
.summary::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -15%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.summary::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -15%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.summary .little {
  text-align: center;
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
.summary .little > *:not(:first-child) {
  margin-top: 0.5em;
}
.summary .little .title {
  font-size: large;
  width: 100%;
}
.summary .little .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.summary .little .content span {
  font-size: small;
  color: var(--text-gray);
}
.summary .little .content span:focus {
  color: var(--bili-blue);
}
.summary .little .content i {
  margin: 0.5em;
}
.summary main {
  position: relative;
  width: 100%;
  max-height: 420px;
  padding: 0 5%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}
.summary main > div {
  width: 100%;
  background-size: cover !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.summary main > div .content {
  width: 100%;
  height: max-content;
  display: flex;
}
.summary main > div .content div[class*="col-"] {
  transition: all 0.5s ease;
  padding: 6rem 2.5em;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.summary main > div .content div[class*="col-"]:not(:last-child) {
  border-right: 2px solid var(--line-o);
}
.summary main > div .content div[class*="col-"] > *:not(:first-child) {
  margin-top: 0.5em;
}
.summary main > div .content div[class*="col-"] .head {
  width: max-content;
  max-width: 100%;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--text-gray-hover);
}
.summary main > div .content div[class*="col-"] .head i {
  font-size: xxx-large;
  font-family: "iconfont";
  font-style: normal;
}
.summary main > div .content div[class*="col-"] .head span {
  margin-left: 1em;
}
.summary main > div .content div[class*="col-"] .msgbox {
  height: max-content;
  max-height: 7rem;
  min-height: 7rem;
  overflow-y: auto;
}
.summary main > div .content div[class*="col-"] .msgbox p {
  width: max-content;
  max-width: 100%;
  line-height: 1.5em;
  color: var(--text-gray-hover);
}
.head-button {
  position: relative;
  margin: auto;
  margin-bottom: 2rem;
  width: max-content;
  transform: translate(0%, 0);
  color: var(--bili-blue);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border: 2px;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}
.head-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--bili-blue), var(--blue-gray));
  z-index: -1;
}
.head-button::after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  width: 97%;
  height: 90%;
  background: #fff;
  z-index: -1;
  border-radius: 33px;
}
.head-button:hover::before {
  background-image: linear-gradient(to right, var(--blue-gray), var(--bili-blue));
}
.introduce {
  height: max-content;
  background: #0e1a5a;
}
.introduce .AiTechnology-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
  margin: auto;
  padding: 2rem;
}
.introduce .AiTechnology-title h3 {
  color: #dedede;
}
.introduce .AiTechnology-title p {
  transform: scale(0.8);
  color: rgba(172, 172, 172, 0.573);
}
.introduce .AiTechnology {
  position: relative;
  padding: 0 10%;
  text-align: center;
  padding-bottom: 5rem;
  background: url(../../images/line-bg.svg) no-repeat center center;
  background-size: contain;
}
.introduce .AiTechnology .AiTechnology-bg {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 73%;
  bottom: 0;
  left: 0;
}
.introduce .AiTechnology .AiTechnology-body {
  padding: 0 5%;
  padding-top: 2rem;
  background: no-repeat center;
  text-align: left;
  color: #e6e7f0;
}
.introduce .AiTechnology .AiTechnology-body .learn-more {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  outline: none;
  background: none;
  border: 2px solid #e6e7f0;
  color: #e6e7f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.introduce .AiTechnology .AiTechnology-body .learn-more i {
  width: 15px;
  height: 15px;
  display: flex;
}
.introduce .AiTechnology .AiTechnology-body .learn-more:hover {
  background: var(--head-bg-hover);
  background: rgba(255, 255, 255, 0.08) !important;
}
.introduce .AiTechnology .AiTechnology-body .learn-more:focus {
  background: rgba(0, 0, 0, 0.4) !important;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-top {
  padding-top: 1rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .content {
  padding-top: 1.5rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .content p:not(:first-child) {
  margin-bottom: 0.5em;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  color: #e6e7f0;
  border: 3px solid #e6e7f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot i {
  width: 15px;
  height: 15px;
  display: flex;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot:hover {
  background: var(--head-bg-hover);
  background: #00000045;
  border: 3px solid #c2c2c2;
  color: #c2c2c2;
}
.introduce .AiTechnology .AiTechnology-body-right-img {
  width: 28%;
  height: 16rem;
  background: no-repeat center;
  background-size: contain;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 0 2rem 0;
}
.introduce .AiTechnology .AiTechnology-images {
  display: flex;
  justify-content: center;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img {
  position: relative;
  width: 33%;
  max-width: 100%;
  padding: 6.8% 12%;
  margin: 0.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160deg, rgba(16, 52, 117, 0.8), rgba(33, 67, 193, 0.8));
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img p {
  padding-top: 0.8rem;
  color: var(--text-gray);
  width: max-content;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce {
  position: absolute;
  top: 0;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  background: url(../../images/solution-mask.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce p {
  width: max-content;
  max-width: 100%;
  color: var(--text-gray-hover);
  margin-bottom: 0;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .tz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .tz a {
  padding: 0.2rem 0.5rem;
  width: max-content;
  font-size: 0.8rem;
  color: var(--text-gray-hover);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 9rem;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span {
  position: absolute;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(1) {
  width: 0%;
  height: 2px;
  left: 0;
  top: 0;
  background: #8debf1;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(2) {
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: #94b9fd;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(3) {
  width: 2px;
  height: 0%;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: linear-gradient(to bottom, #94b9fd, #8debf1);
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(4) {
  width: 2px;
  height: 0%;
  right: 0;
  background: linear-gradient(to bottom, #8debf1, #94b9fd);
}
