:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
}
@keyframes objective-hover {
  0% {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.17);
  }
  100% {
    box-shadow: 0 0 10px 1px rgba(89, 187, 241, 0.5);
  }
}
.swiper {
  width: 100%;
  height: 67%;
  position: relative;
  padding: 0;
  /* <-- 自定义swiper组件 --> */
}
.swiper .swiper-pagination > span {
  width: 2em !important;
  height: 4px !important;
  transform: skewX(-45deg);
  background: var(--bili-blue);
  border-radius: 0;
  background-color: #66d7fb !important;
}
.swiper .swiper-scrollbar {
  background: var(--bili-blue);
  background-color: #12aae16b;
}
.swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #ffffff;
  background-color: var(--bili-blue);
}
.swiper .swiper-button-prev {
  color: var(--text-lighter) !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-button-next {
  color: var(--text-lighter) !important;
  color: var(--bili-pink) !important;
  color: #66d7fb !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  position: relative;
}
.swiper .swiper-slide .mark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff33;
}
.swiper .swiper-slide content {
  display: block;
  padding: 0 10%;
  width: 100%;
  height: 55%;
  color: var(--text-gray);
  z-index: 2;
}
.swiper .swiper-slide content > h1 {
  color: var(--text-gray-hover);
}
.swiper .swiper-slide content > h1 i {
  font-style: normal;
  font-weight: lighter;
  font-size: smaller;
  vertical-align: baseline;
}
.swiper .swiper-slide content > * {
  margin-top: 1em;
  color: var(--text-lighter);
}
.swiper .swiper-slide content .learn-more {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper .swiper-slide content .learn-more i {
  width: 15px;
  height: 15px;
  display: flex;
}
.swiper .swiper-slide content .learn-more:hover {
  background: var(--head-bg-hover);
  background: #00000045;
}
.objectives {
  padding: 4rem 0;
  justify-content: space-between;
}
.objectives .objective {
  transition: all 0.5;
  width: 24%;
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.17);
}
.objectives .objective:hover {
  animation: objective-hover 0.15s ease-in-out;
  box-shadow: 0 0 10px 1px rgba(89, 187, 241, 0.5);
}
.objectives .objective .objective-img {
  display: block;
  background: no-repeat center;
}
.objectives .objective .objective-content p {
  margin-bottom: 0 !important;
}
.objectives .objective .objective-content small {
  color: var(--text-lighter);
}
.objectives .objective .objective-content .gradient {
  background-image: linear-gradient(to right, #405cca, #59bbf1);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5rem;
}
.ContactUs {
  padding-top: 4rem;
  position: relative;
}
.ContactUs::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 0;
  left: -15%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.ContactUs::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 0;
  right: -15%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.ContactUs .ContactUs-title {
  background: linear-gradient(to right, #2F488B, #2E4287, #2F488B);
  background-size: cover;
  padding: 1.5rem 0;
  text-align: center;
  color: #d2d2d2;
}
.ContactUs .ContactUsForm {
  padding-top: 8rem;
}
.ContactUs .ContactUsForm .form-group {
  text-align: center;
}
.ContactUs .ContactUsForm .form-group .form-group-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.ContactUs .ContactUsForm .form-group .form-group-row label {
  width: max-content;
  max-width: 100%;
}
.ContactUs .ContactUsForm .form-group .form-group-row .cooperate {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ContactUs .ContactUsForm .form-group .form-group-row .cooperate:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0.3rem 0rem rgba(13, 110, 253, 0.25);
}
.ContactUs .ContactUsForm .form-group .form-group-row input[type="text"] {
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  text-indent: 0.7rem;
}
.ContactUs .ContactUsForm .form-group .form-group-row input[type="text"]:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0.3rem 0rem rgba(13, 110, 253, 0.25);
}
.ContactUs .ContactUsForm .form-group .form-group-row textarea {
  min-height: 2rem;
  max-height: 10rem;
  overflow-y: scroll;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  text-indent: 0.7rem;
}
.ContactUs .ContactUsForm .form-group .form-group-row textarea:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0.3rem 0rem rgba(13, 110, 253, 0.25);
}
.ContactUs .ContactUsForm .form-group .form-group-row input[type="submit"] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: inherit;
}
.ContactUs .ContactUsForm .form-group .form-group-row .submit {
  margin-top: 2rem;
  transform: translate(-50%, 0);
  color: var(--bili-blue);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border: 2px;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}
.ContactUs .ContactUsForm .form-group .form-group-row .submit:hover::before {
  background-image: linear-gradient(to right, var(--blue-gray), var(--bili-blue));
}
.ContactUs .ContactUsForm .form-group .form-group-row .submit::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--bili-blue), var(--blue-gray));
  z-index: -1;
}
.ContactUs .ContactUsForm .form-group .form-group-row .submit::after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  width: 96%;
  height: 90%;
  background: #fff;
  z-index: -1;
  border-radius: 33px;
}
