:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
}
.swiper {
  width: 100%;
  height: 67%;
  position: relative;
  padding: 0;
  /* <-- 自定义swiper组件 --> */
}
.swiper .swiper-pagination > span {
  width: 2em !important;
  height: 4px !important;
  transform: skewX(-45deg);
  background: var(--bili-blue);
  border-radius: 0;
  background-color: #66d7fb !important;
}
.swiper .swiper-scrollbar {
  background: var(--bili-blue);
  background-color: #12aae16b;
}
.swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #ffffff;
  background-color: var(--bili-blue);
}
.swiper .swiper-button-prev {
  color: var(--text-lighter) !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-button-next {
  color: var(--text-lighter) !important;
  color: var(--bili-pink) !important;
  color: #66d7fb !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.swiper .swiper-slide .mark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff33;
}
.swiper .swiper-slide content {
  display: block;
  padding: 0 10%;
  width: 100%;
  height: 55%;
  color: var(--text-gray);
  z-index: 2;
}
.swiper .swiper-slide content > h1 {
  color: var(--text-gray-hover);
}
.swiper .swiper-slide content > h1 i {
  font-style: normal;
  font-weight: lighter;
  font-size: smaller;
  vertical-align: baseline;
}
.swiper .swiper-slide content > * {
  margin-top: 1em;
  color: var(--text-lighter);
}
.swiper .swiper-slide content .learn-more {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper .swiper-slide content .learn-more i {
  width: 15px;
  height: 15px;
  display: flex;
}
.swiper .swiper-slide content .learn-more:hover {
  background: var(--head-bg-hover);
  background: #00000045;
}
.foot_swiper {
  max-height: 465px;
}
.foot_swiper content {
  position: relative;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: center !important;
  text-align: center;
  width: max-content !important;
  max-width: 80%;
}
.foot_swiper content::after {
  position: absolute;
  top: 2rem;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../../picture/AiSatety-banner-text.png) no-repeat center;
}
.foot_swiper content h1 {
  font-size: xx-large;
  font-weight: 100;
}
.foot_swiper content text {
  padding-top: 2rem;
  display: block;
  width: max-content;
  margin: auto;
}
.foot_swiper content text p {
  color: var(--text-gray-hover);
  font-size: 1.25rem;
  width: max-content;
  text-align: left !important;
}
.foot_swiper content text p i {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: var(--text-gray-hover);
  vertical-align: middle;
  margin-right: 0.5rem;
}
.Security {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.Security .Security-bg {
  position: relative;
  background: no-repeat center center / cover;
}
.Security ul {
  margin: 0;
  padding: 0;
  width: max-content;
  position: absolute;
}
.Security ul li {
  color: var(--blue-gray);
  font-size: smaller;
}
.Security ul li i {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: var(--blue-gray);
  vertical-align: middle;
  margin-right: 0.8rem;
}
.Security ul:nth-child(1),
.Security ul:nth-child(2) {
  left: 15.78%;
}
.Security ul:nth-child(1) {
  top: 20%;
}
.Security ul:nth-child(2) {
  top: 75%;
}
.Security ul:nth-child(3),
.Security ul:nth-child(4) {
  right: 17.7%;
}
.Security ul:nth-child(3) {
  top: 6%;
}
.Security ul:nth-child(4) {
  top: 55%;
}
.programme {
  padding: 4rem 10% 0;
  position: relative;
}
.programme::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 0;
  left: 0%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.programme::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 0;
  right: 0%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
