:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
  --line: hsla(0, 0%, 75%, 0.45);
  --line-o: hsla(0, 0%, 75%, 0.2);
}
@media screen and (max-width: 1700px) {
  .terminal,
  .summary {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 770px) {
  .summary main {
    margin-top: 3rem;
  }
  .summary main > div .content div[class*="col-"] {
    padding: 0 2.5em !important;
    align-items: center;
    border-right: 0;
  }
  .summary main > div .content div[class*="col-"]:not(:last-child) {
    border-bottom: 2px solid var(--line-o);
  }
}
.banner {
  position: relative;
  height: 50rem;
  width: 100%;
  padding: 0 10%;
  background: #fff;
}
.banner::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: 10%;
  left: 0;
  background: url(../../images/title-divide-line.png) no-repeat;
}
.banner::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: 10%;
  right: 0;
  background: url(../../images/title-divide-line.png) no-repeat;
  transform: rotate(180deg);
}
.banner .swiper {
  width: 30%;
  height: 8rem;
}
.banner .swiper .swiper-slide {
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-wrap: wrap;
}
.banner .swiper .swiper-pagination .swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  transform: none;
  background: var(--bili-blue) !important;
  margin: 0;
  border-radius: 6px;
}
.banner .container-fluid {
  height: calc(100% - 128px);
  background: url(../../images/build-bgimg.jpg) no-repeat center center;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}
.banner .container-fluid .left {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .left:hover .card {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.banner .container-fluid .left .card {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 20%;
  width: max-content;
  max-width: 80%;
  transform: translateX(-100%);
  opacity: 0;
}
.banner .container-fluid .left .card span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: sub;
}
.banner .container-fluid .left .card li {
  margin-top: 0.5em;
  font-size: small;
}
.banner .container-fluid .md {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .right {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .right:hover .card {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.banner .container-fluid .right .card {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 20%;
  width: max-content;
  max-width: 80%;
  transform: translateX(100%);
  opacity: 0;
}
.banner .container-fluid .right .card span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: sub;
}
.banner .container-fluid .right .card li {
  margin-top: 0.5em;
  font-size: small;
}
.terminal {
  padding: 4rem 0;
  position: relative;
  text-align: center;
  margin: 0;
}
.terminal::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -15%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.terminal::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -15%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.terminal .little {
  text-align: center;
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
.terminal .little .title {
  font-size: large;
  width: 100%;
}
.terminal .little .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.terminal .little .content span {
  font-size: small;
}
.terminal .little .content i {
  margin: 0.5em;
}
.terminal .little .content .act {
  color: var(--bili-blue);
}
.summary {
  width: 100%;
  height: max-content;
  padding: 4rem 0;
  position: relative;
}
.summary::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -15%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.summary::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -15%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.summary .little {
  text-align: center;
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
.summary .little > *:not(:first-child) {
  margin-top: 0.5em;
}
.summary .little .title {
  font-size: large;
  width: 100%;
}
.summary .little .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.summary .little .content span {
  font-size: small;
  color: var(--text-gray);
}
.summary .little .content span:focus {
  color: var(--bili-blue);
}
.summary .little .content i {
  margin: 0.5em;
}
.summary main {
  position: relative;
  width: 100%;
  max-height: 420px;
  padding: 0 5%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}
.summary main > div {
  width: 80%;
  background-size: cover !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.summary main > div .content {
  width: 100%;
  height: max-content;
  display: flex;
}
.summary main > div .content div[class*="col-"] {
  transition: all 0.5s ease;
  padding: 6rem 2.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.summary main > div .content div[class*="col-"]:not(:last-child) {
  border-right: 2px solid var(--line-o);
}
.summary main > div .content div[class*="col-"] > *:not(:first-child) {
  margin-top: 0.5em;
}
.summary main > div .content div[class*="col-"] .head {
  width: max-content;
  max-width: 100%;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--text-gray-hover);
}
.summary main > div .content div[class*="col-"] .head i {
  font-size: xxx-large;
  font-family: "iconfont";
  font-style: normal;
}
.summary main > div .content div[class*="col-"] .head span {
  margin-left: 1em;
}
.summary main > div .content div[class*="col-"] .msgbox {
  height: max-content;
  max-height: 7rem;
  min-height: 7rem;
  overflow-y: auto;
}
.summary main > div .content div[class*="col-"] .msgbox p {
  width: max-content;
  max-width: 100%;
  line-height: 1.5em;
  color: var(--text-gray-hover);
}
