:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
  --line: hsla(0, 0%, 75%, 0.45);
  --line-o: hsla(0, 0%, 75%, 0.2);
}
@media screen and (max-width: 1700px) {
  .terminal,
  .summary {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1000px) {
  .container .main span .card {
    font-size: 14px;
  }
  .container .main span .card li {
    width: max-content;
  }
}
@media screen and (max-width: 770px) {
  .summary main {
    margin-top: 3rem;
  }
  .summary main > div .content div[class*="col-"] {
    padding: 0 2.5em !important;
    align-items: center;
    border-right: 0;
  }
  .summary main > div .content div[class*="col-"]:not(:last-child) {
    border-bottom: 2px solid var(--line-o);
  }
  .container .main span .card {
    font-size: 10px;
  }
  .container .main span .card li {
    width: auto;
  }
  main[class*="body"] .head .content span {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 1300px) {
  .AiTechnology-introduce p {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1200px) {
  .AiTechnology-introduce {
    padding-top: 2rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .AiTechnology-introduce {
    padding-top: 0rem !important;
  }
}
@media screen and (max-width: 835px) {
  .AiTechnology-img {
    width: 50% !important;
  }
  .AiTechnology-images {
    flex-direction: column;
    align-items: center;
  }
  .AiTechnology-images .tz {
    margin-top: 0 !important;
  }
  .AiTechnology-images .tz a {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .AiTechnology-img {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .AiTechnology-img {
    height: 14rem;
  }
}
.container {
  width: 100%;
  min-height: 20rem;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
}
.container .title i {
  font-style: normal;
  font-size: xxx-large;
}
.container .main {
  position: relative;
  width: max-content;
  max-width: 100%;
}
.container .main img {
  width: 100%;
}
.container .main span {
  position: absolute;
  display: block;
  width: max-content;
  max-width: 22%;
}
.container .main span .card {
  border: 0;
  background: transparent;
}
.container .main span .card .card-body {
  color: #3394ef;
}
.container .main span .card .card-body ul {
  padding-left: 1em;
  margin: 0;
}
.container .main span .card .card-body ul li {
  list-style: disc;
}
.container .main span .card .card-body .card-title {
  font-size: 1.5rem;
}
.container .main span .card .card-body .card-text {
  font-size: 1rem;
}
main[class*="body"] {
  width: 100%;
  height: max-content;
  padding: 4rem 0;
  position: relative;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main[class*="body"]::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -15%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
main[class*="body"]::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -15%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
main[class*="body"] .head {
  text-align: center;
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
main[class*="body"] .head .title {
  font-size: large;
  width: 100%;
}
main[class*="body"] .head .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
main[class*="body"] .head .content span {
  font-size: small;
}
main[class*="body"] .head .content i {
  font-style: normal;
  margin: 0.5em;
}
main[class*="body"] .head .content .act {
  color: var(--bili-blue);
}
main[class*="body"] main {
  height: max-content;
  width: 75%;
  background-image: linear-gradient(225deg, #1a4882 30%, #2580b3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main[class*="body"] main > div {
  width: 100%;
}
main[class*="body"] main .head {
  display: flex;
  align-items: center;
  justify-content: center;
}
main[class*="body"] main .head .row {
  padding: 0 2em;
  width: max-content;
  max-width: 100%;
  min-height: 50%;
  display: flex;
  flex-wrap: wrap;
}
main[class*="body"] main .head .row div[class*="col-"] {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
main[class*="body"] main .head .row div[class*="col-"] .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
}
main[class*="body"] main .head .row div[class*="col-"] .title h3 {
  color: var(--text-gray-hover);
  margin: 0;
}
main[class*="body"] main .head .row div[class*="col-"] .title i {
  margin: 0 0.5em;
  font-size: xx-large;
  font-family: "iconfont";
  font-style: normal;
  color: var(--text-gray-hover);
}
main[class*="body"] main .head .row div[class*="col-"] p {
  margin-top: 1em;
}
main[class*="body"] main .head .row div[class*="col-"] p:not(first-child) {
  color: var(--text-lighter);
  text-align: left;
}
main[class*="body"] main .head .row div[class*="col-"] picture {
  margin: auto;
}
main[class*="body"] main .head .row div[class*="col-"] .pic-p2 {
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: -6px 6px 6px 0px #02020221;
}
main[class*="body"] main .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
main[class*="body"] main .content > div {
  width: 100%;
  max-width: 100%;
  padding: 0 2em;
  height: max-content;
  min-height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main[class*="body"] main .content .page > div {
  position: relative;
  width: calc(90% / 5);
  margin-bottom: 2em;
}
main[class*="body"] main .content .page > div:hover > span {
  color: var(--bili-blue);
}
main[class*="body"] main .content .page > div > span {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  color: var(--text-gray);
  text-align: center;
  background: var(--text-gray-hover);
}
main[class*="body"] main .content .page > div > img {
  display: block;
  width: 100%;
}
main[class*="body"] main .content .page-2 > div {
  width: calc(90% / 4);
}
main[class*="body"] main .content .page-2 .lg {
  width: calc(90% / 2);
}
.summary {
  width: 100%;
  height: max-content;
  padding: 4rem 0;
  position: relative;
}
.summary::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -15%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.summary::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -15%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.summary .little {
  text-align: center;
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
.summary .little > *:not(:first-child) {
  margin-top: 0.5em;
}
.summary .little .title {
  font-size: large;
  width: 100%;
}
.summary .little .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.summary .little .content span {
  font-size: small;
  color: var(--text-gray);
}
.summary .little .content span:focus {
  color: var(--bili-blue);
}
.summary .little .content i {
  margin: 0.5em;
}
.summary main {
  position: relative;
  width: 100%;
  padding: 0 5%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}
.summary main > div {
  width: 80%;
  background-size: cover !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.summary main > div .content {
  width: 100%;
  height: max-content;
  display: flex;
}
.summary main > div .content div[class*="col-"] {
  transition: all 0.5s ease;
  padding: 6rem 2.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.summary main > div .content div[class*="col-"]:not(:last-child) {
  border-right: 2px solid var(--line-o);
}
.summary main > div .content div[class*="col-"] > *:not(:first-child) {
  margin-top: 0.5em;
}
.summary main > div .content div[class*="col-"] .head {
  width: max-content;
  max-width: 100%;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--text-gray-hover);
}
.summary main > div .content div[class*="col-"] .head i {
  font-size: xxx-large;
  font-family: "iconfont";
  font-style: normal;
}
.summary main > div .content div[class*="col-"] .head span {
  margin-left: 1em;
}
.summary main > div .content div[class*="col-"] .msgbox {
  height: max-content;
  max-height: 7rem;
  min-height: 7rem;
  overflow-y: auto;
}
.summary main > div .content div[class*="col-"] .msgbox p {
  width: max-content;
  max-width: 100%;
  line-height: 1.5em;
  color: var(--text-gray-hover);
}
.introduce {
  height: max-content;
  background: #0e1a5a;
}
.introduce .AiTechnology-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
  margin: auto;
  padding: 2rem;
}
.introduce .AiTechnology-title h3 {
  color: #dedede;
}
.introduce .AiTechnology-title p {
  transform: scale(0.8);
  color: rgba(172, 172, 172, 0.573);
}
.introduce .AiTechnology {
  position: relative;
  padding: 0 10%;
  text-align: center;
  padding-bottom: 5rem;
  background: url(../../images/line-bg.svg) no-repeat center center;
  background-size: contain;
}
.introduce .AiTechnology .AiTechnology-bg {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 73%;
  bottom: 0;
  left: 0;
}
.introduce .AiTechnology .AiTechnology-body {
  padding: 0 5%;
  padding-top: 2rem;
  background: no-repeat center;
  text-align: left;
  color: #e6e7f0;
}
.introduce .AiTechnology .AiTechnology-body .learn-more {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  outline: none;
  background: none;
  border: 2px solid #e6e7f0;
  color: #e6e7f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.introduce .AiTechnology .AiTechnology-body .learn-more i {
  width: 15px;
  height: 15px;
  display: flex;
}
.introduce .AiTechnology .AiTechnology-body .learn-more:hover {
  background: var(--head-bg-hover);
  background: rgba(255, 255, 255, 0.08) !important;
}
.introduce .AiTechnology .AiTechnology-body .learn-more:focus {
  background: rgba(0, 0, 0, 0.4) !important;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-top {
  padding-top: 1rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .content {
  padding-top: 1.5rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .content p:not(:first-child) {
  margin-bottom: 0.5em;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  color: #e6e7f0;
  border: 3px solid #e6e7f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot i {
  width: 15px;
  height: 15px;
  display: flex;
}
.introduce .AiTechnology .AiTechnology-body .AiTechnology-body-left .AiTechnology-body-foot:hover {
  background: var(--head-bg-hover);
  background: #00000045;
  border: 3px solid #c2c2c2;
  color: #c2c2c2;
}
.introduce .AiTechnology .AiTechnology-body-right-img {
  width: 28%;
  height: 16rem;
  background: no-repeat center;
  background-size: contain;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 0 2rem 0;
}
.introduce .AiTechnology .AiTechnology-images {
  display: flex;
  justify-content: center;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img {
  position: relative;
  width: 33%;
  max-width: 100%;
  padding: 6.8% 12%;
  margin: 0.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160deg, rgba(16, 52, 117, 0.8), rgba(33, 67, 193, 0.8));
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img p {
  padding-top: 0.8rem;
  color: var(--text-gray);
  width: max-content;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce {
  position: absolute;
  top: 0;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  background: url(../../images/solution-mask.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce p {
  width: max-content;
  max-width: 100%;
  color: var(--text-gray-hover);
  margin-bottom: 0;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .tz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .tz a {
  padding: 0.2rem 0.5rem;
  width: max-content;
  font-size: 0.8rem;
  color: var(--text-gray-hover);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 9rem;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span {
  position: absolute;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(1) {
  width: 0%;
  height: 2px;
  left: 0;
  top: 0;
  background: #8debf1;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(2) {
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: #94b9fd;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(3) {
  width: 2px;
  height: 0%;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: linear-gradient(to bottom, #94b9fd, #8debf1);
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(4) {
  width: 2px;
  height: 0%;
  right: 0;
  background: linear-gradient(to bottom, #8debf1, #94b9fd);
}
