:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
}
@media screen and (max-width: 1700px) {
  .terminal {
    overflow-x: hidden;
  }
}
.swiper {
  width: 100%;
  height: 67%;
  position: relative;
  padding: 0;
  /* <-- 自定义swiper组件 --> */
}
.swiper .swiper-pagination > span {
  width: 2em !important;
  height: 4px !important;
  transform: skewX(-45deg);
  background: var(--bili-blue);
  border-radius: 0;
  background-color: #66d7fb !important;
}
.swiper .swiper-scrollbar {
  background: var(--bili-blue);
  background-color: #12aae16b;
}
.swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #ffffff;
  background-color: var(--bili-blue);
}
.swiper .swiper-button-prev {
  color: var(--text-lighter) !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-button-next {
  color: var(--text-lighter) !important;
  color: var(--bili-pink) !important;
  color: #66d7fb !important;
  color: var(--bili-blue) !important;
}
.swiper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  position: relative;
}
.swiper .swiper-slide .mark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff33;
}
.swiper .swiper-slide content {
  display: block;
  padding: 0 10%;
  width: 100%;
  height: 55%;
  color: var(--text-gray);
  z-index: 2;
}
.swiper .swiper-slide content > h1 {
  color: var(--text-gray-hover);
}
.swiper .swiper-slide content > h1 i {
  font-style: normal;
  font-weight: lighter;
  font-size: smaller;
  vertical-align: baseline;
}
.swiper .swiper-slide content > * {
  margin-top: 1em;
  color: var(--text-lighter);
}
.swiper .swiper-slide content .learn-more {
  margin-top: 2.5rem;
  min-width: 10rem;
  height: 3em;
  border-radius: 25px;
  padding: 0px 33px;
  background: var(--head-bg);
  background: #00000025;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper .swiper-slide content .learn-more i {
  width: 15px;
  height: 15px;
  display: flex;
}
.swiper .swiper-slide content .learn-more:hover {
  background: var(--head-bg-hover);
  background: #00000045;
}
.banner {
  position: relative;
  height: 50rem;
  width: 100%;
  padding: 0 10%;
  background: #fff;
}
.banner::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: 10%;
  left: 0;
  background: url(../../images/title-divide-line.png) no-repeat;
}
.banner::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: 10%;
  right: 0;
  background: url(../../images/title-divide-line.png) no-repeat;
  transform: rotate(180deg);
}
.banner .swiper {
  width: 30%;
  height: 8rem;
}
.banner .swiper .swiper-slide {
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-wrap: wrap;
}
.banner .swiper .swiper-pagination .swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  transform: none;
  background: var(--bili-blue) !important;
  margin: 0;
  border-radius: 6px;
}
.banner .container-fluid {
  height: calc(100% - 128px);
  background: url(../../images/build-bgimg.jpg) no-repeat center center;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}
.banner .container-fluid .left {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .left:hover .card {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.banner .container-fluid .left .card {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 20%;
  width: max-content;
  max-width: 80%;
  transform: translateX(-100%);
  opacity: 0;
}
.banner .container-fluid .left .card span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: sub;
}
.banner .container-fluid .left .card li {
  margin-top: 0.5em;
  font-size: small;
}
.banner .container-fluid .md {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .right {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .right:hover .card {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.banner .container-fluid .right .card {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 20%;
  width: max-content;
  max-width: 80%;
  transform: translateX(100%);
  opacity: 0;
}
.banner .container-fluid .right .card span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: sub;
}
.banner .container-fluid .right .card li {
  margin-top: 0.5em;
  font-size: small;
}
.terminal {
  padding: 4rem 0;
  position: relative;
  text-align: center;
  margin: 0;
}
.terminal::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -15%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.terminal::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -15%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.terminal .little {
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
.terminal .little .title {
  font-size: large;
  width: 100%;
}
.terminal .little .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.terminal .little .content span {
  font-size: small;
}
.terminal .little .content i {
  margin: 0.5em;
}
.terminal .little .content .act {
  color: var(--bili-blue);
}
main {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}
main .content-box {
  padding: 1.5%;
  height: max-content;
  background-image: linear-gradient(225deg, #1a4882 30%, #2580b3 100%);
  min-width: 40%;
  width: max-content;
  max-width: 60%;
  min-height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main .content-box .row {
  width: max-content;
  max-width: 100%;
  min-height: 50%;
  display: flex;
  flex-wrap: wrap;
}
main .content-box .row div[class*="col-"] {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
main .content-box .row div[class*="col-"] h3 {
  color: var(--text-gray-hover);
}
main .content-box .row div[class*="col-"] p {
  margin-top: 1em;
}
main .content-box .row div[class*="col-"] p:not(first-child) {
  color: var(--text-lighter);
  text-align: left;
}
main .content-box .row div[class*="col-"] picture {
  margin: auto;
}
