@font-face {
  font-family: "bct"; /* Project id 4216600 */
  src: url('iconfont.woff2?t=1692353668159') format('woff2'),
       url('iconfont.woff?t=1692353668159') format('woff'),
       url('iconfont.ttf?t=1692353668159') format('truetype');
}

.bct {
  font-family: "bct" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e626";
}

