header {
  width: 100%;
  padding: 0 10%;
  background: rgba(3, 21, 75, 0.137);
  margin: auto;
  height: 3.75rem;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #4a4a4a;
  display: flex;
  align-items: center;

  .logo {
    float: left;
  }
}

.banner {
  width: 100%;
  height: 70%;
  padding: 0 10%;
  background: url(../../picture/home-banner-algorithm.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
