@media screen and (max-width: 1415px) {
  #friend {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .AiTechnology-introduce {
    padding-top: 2rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .foot-content > .col-2 {
    transform: scale(0.8);
  }
  .AiTechnology-introduce {
    padding-top: 0rem !important;
  }
}
@media screen and (max-width: 990px) {
  #friend {
    display: flex;
  }
  .navbar-nav {
    display: block;
  }
  .dropdown-menu {
    z-index: 999;
  }
  .navbar-nav .dropdown-menu {
    position: fixed !important;
    top: 7%;
    left: 0%;
  }
}
@media screen and (max-width: 835px) {
  .AiTechnology-img {
    width: 50% !important;
  }
  .AiTechnology-images {
    flex-direction: column;
    align-items: center;
  }
  .AiTechnology-images .tz {
    margin-top: 0 !important;
  }
  .AiTechnology-images .tz a {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .products {
    transform: scale(0.7);
  }
  .AiTechnology-img {
    width: 100% !important;
  }
}
@media screen and (max-width: 775px) {
  .foot-logo {
    display: none;
  }
  .foot-content {
    width: 100% !important;
  }
  .foot-content > .col-2 {
    transform: scale(1);
  }
}
@media screen and (max-width: 620px) {
  .foot-content > .col-2 {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 550px) {
  .products {
    transform: scale(0.6);
  }
  .navbar-brand {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .products {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 480px) {
  .AiTechnology-img {
    height: 14rem;
  }
  .navbar-nav .dropdown-menu {
    position: fixed !important;
    top: 6.5% !important;
    left: 2% !important;
  }
}
@media screen and (max-width: 360px) {
  .products {
    transform: scale(0.4);
  }
}
.button-lin {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, 0);
  color: var(--bili-blue);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border: 2px;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}
.button-lin::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--bili-blue), var(--blue-gray));
  z-index: -1;
}
.button-lin::after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  width: 98%;
  height: 90%;
  background: #fff;
  z-index: -1;
  border-radius: 33px;
}
.button-lin:hover::before {
  background-image: linear-gradient(to right, var(--blue-gray), var(--bili-blue));
}
li {
  list-style: none;
}
.SmartDesk {
  width: 100%;
  padding: 0 10%;
  padding-top: 2.5rem;
}
.SmartDesk > .products {
  padding: 0 10%;
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.SmartDesk > .products .product {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.SmartDesk > .products .product:hover {
  background: var(--head-bg);
}
.SmartDesk > .products .product .product-img {
  transform: scale(0.6);
  margin-bottom: 0.5rem;
}
.SmartDesk > .products .product .product-name {
  margin-bottom: -0.5rem;
  color: #101010;
}
.SmartDesk > .products .product .products-introduce {
  font-size: small;
  color: var(--text-gray);
}
.introduce {
  background: url(../../images/solution-bg.jpg);
  background-size: cover;
  padding: 0 10%;
  height: max-content;
}
.introduce .AiTechnology {
  position: relative;
  padding-top: 4rem;
  text-align: center;
  padding-bottom: 4rem;
}
.introduce .AiTechnology::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 2px;
  bottom: 0;
  left: -13%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.introduce .AiTechnology::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 2px;
  bottom: 0;
  right: -13%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.introduce .AiTechnology .AiTechnology-title h3 {
  color: #dedede;
}
.introduce .AiTechnology .AiTechnology-title p {
  transform: scale(0.8);
  color: #d3d3d354;
}
.introduce .AiTechnology .AiTechnology-images {
  display: flex;
  justify-content: center;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img {
  width: 33%;
  max-width: 100%;
  position: relative;
  padding: 6.8% 12%;
  margin: 0.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160deg, rgba(16, 52, 117, 0.8), rgba(33, 67, 193, 0.8));
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img p {
  padding-top: 0.8rem;
  color: var(--text-gray);
  width: max-content;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce {
  position: absolute;
  top: 0;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  background: url(../../images/solution-mask.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce p {
  width: max-content;
  max-width: 100%;
  color: var(--text-gray-hover);
  margin-bottom: 0;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .tz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .tz a {
  padding: 0.2rem 0.5rem;
  width: max-content;
  font-size: 0.8rem;
  color: var(--text-gray-hover);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 9rem;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span {
  position: absolute;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(1) {
  width: 0%;
  height: 2px;
  left: 0;
  top: 0;
  background: #8debf1;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(2) {
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: #94b9fd;
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(3) {
  width: 2px;
  height: 0%;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: linear-gradient(to bottom, #94b9fd, #8debf1);
}
.introduce .AiTechnology .AiTechnology-images .AiTechnology-img .AiTechnology-introduce .AiTechnology-introduce-border span:nth-child(4) {
  width: 2px;
  height: 0%;
  right: 0;
  background: linear-gradient(to bottom, #8debf1, #94b9fd);
}
.introduce .practice {
  padding-top: 4rem;
}
.introduce .practice .practice-title {
  text-align: center;
}
.introduce .practice .practice-title h3 {
  color: #dedede;
}
.introduce .practice .practice-title p {
  transform: scale(0.8);
}
.introduce .practice .practice-title p span {
  color: var(--text-gray);
  padding: 0 0.7rem;
}
.introduce .practice .practice-title p a {
  color: var(--text-gray);
}
.introduce .practice .practice-title p .active {
  color: var(--text-gray-hover);
}
.introduce .practice .practice-body {
  display: none;
  padding-top: 3rem;
}
.introduce .practice .practice-body h3 {
  color: #fff;
}
.introduce .practice .practice-body p {
  padding: 1rem 0;
  color: #fff;
  width: 55%;
  font-size: smaller;
  margin-bottom: 0;
}
.banner {
  position: relative;
  height: 50rem;
  width: 100%;
  padding: 0 10%;
  background: #fff;
}
.banner::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: 10%;
  left: 0;
  background: url(../../images/title-divide-line.png) no-repeat;
}
.banner::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: 10%;
  right: 0;
  background: url(../../images/title-divide-line.png) no-repeat;
  transform: rotate(180deg);
}
.banner .swiper {
  width: 30%;
  height: 8rem;
}
.banner .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner .swiper .swiper-pagination .swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  transform: none;
  background: var(--bili-blue) !important;
  margin: 0;
  border-radius: 6px;
}
.banner .container-fluid {
  height: calc(100% - 128px);
  background: url(../../images/build-bgimg.jpg) no-repeat center center;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}
.banner .container-fluid .left {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .left:hover .card {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.banner .container-fluid .left .card {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 20%;
  width: max-content;
  max-width: 80%;
  transform: translateX(-100%);
  opacity: 0;
}
.banner .container-fluid .left .card span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: sub;
}
.banner .container-fluid .left .card li {
  margin-top: 0.5em;
  font-size: small;
}
.banner .container-fluid .left .card li:first-child {
  margin-top: -0.5em;
}
.banner .container-fluid .md {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .right {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.banner .container-fluid .right:hover .card {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.banner .container-fluid .right .card {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 20%;
  width: max-content;
  max-width: 80%;
  transform: translateX(100%);
  opacity: 0;
}
.banner .container-fluid .right .card span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: sub;
}
.banner .container-fluid .right .card li {
  margin-top: 0.5em;
  font-size: small;
}
.banner .container-fluid .right .card li:first-child {
  margin-top: -0.5em;
}
.adbox {
  margin-top: 2rem;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  position: relative;
}
.adbox::before {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-50%);
  width: 30%;
  height: 2px;
  top: 0;
  left: 0;
  background: url(../images/title-divide-line.png) no-repeat;
}
.adbox::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-50%) rotate(180deg);
  width: 30%;
  height: 2px;
  top: 0;
  right: 0;
  background: url(../images/title-divide-line.png) no-repeat;
}
@media screen and (max-width: 500px) {
  .adbox > div {
    width: 60% !important;
  }
  .adbox picture {
    width: 100% !important;
  }
}
.adbox > div {
  margin: 1rem auto 0 auto;
}
.adbox > div .ad {
  margin-left: auto;
  margin-right: auto;
}
.adbox .at {
  display: flex;
}
.adbox .w-15 {
  width: 15%;
}
@media screen and (max-width: 1642px) {
  .adbox .w-15 {
    width: 25%;
  }
}
@media screen and (max-width: 910px) {
  .adbox .w-15 {
    width: 30%;
  }
}
@media screen and (max-width: 965px) {
  .adbox .w-15 {
    width: 50%;
  }
}
.adbox .active {
  color: skyblue;
  transition: all 0.3s;
}
.adbox picture {
  /* // background: #00000009; */
  width: 75%;
  height: 150px;
  display: block;
  margin: auto;
  margin-top: 1rem;
  display: none !important;
}
.adbox picture div {
  border-radius: 25px;
  overflow: hidden;
}
.adbox .act {
  display: flex !important;
}
.adbox .act > div > img {
  animation-name: dm;
  animation-duration: 0.5s;
}
@keyframes dm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footbox {
  width: 100%;
  padding: 0 10%;
  background: url(../../picture/footer-bg.jpg);
  background-size: cover;
}
.footbox > .foot-top {
  width: 100%;
  height: 60%;
  border-bottom: 1px solid #ffffff29;
}
.footbox > .foot-top .foot-logo {
  width: 40%;
  height: 100%;
  padding-top: 2.5rem;
}
.footbox > .foot-top .foot-content {
  width: 60%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.footbox > .foot-top .foot-content > dl {
  white-space: nowrap;
}
.footbox > .foot-top .foot-content > dl > dt {
  margin-bottom: 2em;
  color: #dedede;
}
.footbox > .foot-top .foot-content > dl > dd {
  margin-bottom: 1em;
  font-size: 14px;
}
.footbox > .foot-top .foot-content > dl > dd > a {
  text-decoration: none;
  color: var(--text-gray);
}
.footbox > .foot-top .foot-content > dl > dd > a:focus {
  color: #fff;
}
.footbox > .about-me {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-between;
}
.footbox > .about-me > .cop {
  font-size: smaller;
  line-height: 0.7rem;
  padding-top: 1.25rem;
}
.footbox > .about-me > .cop > p {
  color: var(--text-gray);
}
.footbox > .about-me > .cop > p > a {
  color: var(--text-gray);
}
.footbox > .about-me > .cop > p > a:focus {
  color: #fff;
}
.footbox > .about-me > .cop .mt-4 {
  margin-top: 2rem !important;
}
.footbox > .about-me .ewm {
  padding-top: 1.25rem;
  text-align: end;
  display: block;
  width: 100px;
  position: relative;
}
.footbox > .about-me .ewm p {
  white-space: nowrap;
  margin-left: 1em;
  color: var(--text-gray);
  font-size: smaller;
}
