@media screen and (max-width: 990px) {
  body {
    font-size: 12px;
  }
  .navbar-nav{
    display: block;
  }
  .dropdown-menu{
    z-index: 999;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
}
}
@media screen and (max-width: 1110px) {
  .foot-content>.col-2{
    transform: scale(.8);
  }
}
@media screen and (max-width: 835px) {
  .foot-content>.col-2{
    transform: scale(.6);
  }
}
@media screen and (max-width: 600px) {
  .foot-content>.col-2{
    transform: scale(.5);
  }
}
@media screen and (max-width: 510px) {
  .foot-content>.col-2{
    transform: scale(.4);
  }
}

:root{
  --text-gray:rgb(159, 159, 159);
  --text-gray-hover:rgb(255, 255, 255);
}

li{
  list-style: none;
}

header {
  width: 100%;
  padding: 0 10%;
  background: rgba(3, 21, 75, 0.137);
  margin: auto;
  height: 3.75rem;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    float: left;
  }

  nav{
    background: transparent !important;
    padding: 0;
    height: 100%;

    .collapse{
      padding: 0 14px;
      >ul,>li{
        align-items: center;
        background: transparent;
        .dropdown-menu{
          background: rgba(67, 67, 67, 0.171);
        }
      }
      >ul>li{
        padding-left: 1rem;
        padding-right: 1rem;
        height: 3.5rem;
        &:hover,&:focus{
          background: #00000020;
        }
        >a{
          height: 3.5rem;
          line-height: 2.5rem;
          color: var(--text-gray);
          &:hover,&:focus{
            color: #fff;
          }
          
        }
      }

    }

    .navbar-brand{
      background: #00000020;
      padding: 14px;
      padding-left: 2rem;
      padding-right: 2rem;
      color: white;
    }
  }
}

.banner {
  width: 100%;
  height: 70%;
  padding: 0 10%;
  background: url(../../picture/home-banner-algorithm.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.footbox{
  width: 100%;
  padding: 0 10%;
  background:url(../../picture/footer-bg.jpg);
  background-size: cover;
  >.foot-top{
    width: 100%;
    height: 60%;
    border-bottom: 1px solid #ffffff29;
    .foot-logo{
      width: 40%;
      height: 100%;
      padding-top: 2.5rem;
    }
    .foot-content{
      width: 60%;
      color: #fff;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      >dl{
        white-space: nowrap;
        >dt{
          margin-bottom: 2em;
          color: #dedede;
        }
        >dd{
          margin-bottom: 1em;
          font-size: 14px;
          >a{
            text-decoration: none;
            color:var(--text-gray);
            &:focus{
              color: #fff;
            }
          }
        }
      }
    }
  }
  >.about-me{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-between;
    >.cop{
      font-size: smaller;
      line-height: .7rem;
      padding-top: 1.25rem;
      >p{
        color: var(--text-gray);
        >a{
          color: var(--text-gray);
          &:focus{
          color: #fff;
        }
      }
      }
      .mt-4{
        margin-top: 2rem !important;
      }
    }
    .ewm{
      padding-top: 1.25rem;
      text-align: end;
      display: block;
      width: 100px;
      position: relative;
      p{
        white-space: nowrap;
        margin-left: 1em;
        color: var(--text-gray);
        font-size: smaller;
      }
    }
  }
}