header {
  width: 100%;
  padding: 0 10%;
  background: rgba(0, 140, 255, 0.539);
  margin: auto;
  height: 3.75rem;
  position: fixed;
  top: 0;
}
.banner {
  width: 100%;
  height: 70%;
  background: url(../images/) no-repeat center;
  background-size: cover;
  position: relative;
}
