@media screen and (max-width: 1312px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 1212px) {
  body {
    font-size: 8px;
  }
}
li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
header {
  width: 100%;
  padding: 0 10%;
  background: rgba(3, 21, 75, 0.137);
  margin: auto;
  height: 3.75rem;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  float: left;
}
header nav {
  background: transparent !important;
  padding: 0;
  height: 100%;
}
header nav .collapse {
  padding: 0 14px;
}
header nav .collapse > ul,
header nav .collapse > li {
  align-items: center;
  background: transparent;
}
header nav .collapse > ul .dropdown-menu,
header nav .collapse > li .dropdown-menu {
  background: rgba(67, 67, 67, 0.171);
}
header nav .collapse > ul > li {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3.5rem;
}
header nav .collapse > ul > li:hover,
header nav .collapse > ul > li:focus {
  background: #00000020;
}
header nav .collapse > ul > li > a {
  height: 3.5rem;
  line-height: 2.5rem;
  color: #9f9f9f;
}
header nav .collapse > ul > li > a:hover,
header nav .collapse > ul > li > a:focus {
  color: #fff;
}
header nav .navbar-brand {
  background: #00000020;
  padding: 14px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}
.banner {
  width: 100%;
  height: 70%;
  padding: 0 10%;
  background: url(../../picture/home-banner-algorithm.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.footbox {
  width: 100%;
  height: 40%;
  padding: 0 10%;
  background: url(../../images/AiSafety-trait-bg.jpg);
  background-size: cover;
}
.footbox > .mask {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(5, 22, 65, 0.9);
  z-index: 1;
}
.footbox > .foot-top {
  height: 60%;
  border-bottom: 1px solid #ffffff;
  z-index: 2;
}
.footbox > .foot-top .foot-logo {
  width: 40%;
  z-index: 2;
}
.footbox > .foot-top .foot-body {
  width: 60%;
  z-index: 2;
}
.footbox > .foot-top .foot-body > ul li {
  transition: all 0 !important;
  color: #d2d2d2;
  line-height: 2rem;
}
.footbox > .foot-top .foot-body > ul li > a {
  color: #969696;
  font-size: 0.8rem;
}
.footbox > .foot-top .foot-body > ul li:hover a {
  color: #d2d2d2;
}
.footbox > .foot-top .foot-body > ul li:nth-child(1) {
  margin-bottom: 1rem;
}
.footbox > .foot-btn {
  height: 40%;
}
.footbox > .foot-btn > .cop {
  z-index: 2;
  font-size: smaller;
  line-height: 0.7rem;
}
.footbox > .foot-btn > .cop > p {
  color: #969696;
}
