@media screen and (max-width: 990px) {
  body {
    font-size: 12px;
  }
  .navbar-nav {
    display: block;
  }
  .dropdown-menu {
    z-index: 999;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
}
@media screen and (max-width: 1110px) {
  .foot-content > .col-2 {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 835px) {
  .foot-content > .col-2 {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 600px) {
  .foot-content > .col-2 {
    transform: scale(0.5);
  }
}
@media screen and (max-width: 510px) {
  .foot-content > .col-2 {
    transform: scale(0.4);
  }
}
:root {
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
}
li {
  list-style: none;
}
header {
  width: 100%;
  padding: 0 10%;
  background: rgba(3, 21, 75, 0.137);
  margin: auto;
  height: 3.75rem;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  float: left;
}
header nav {
  background: transparent !important;
  padding: 0;
  height: 100%;
}
header nav .collapse {
  padding: 0 14px;
}
header nav .collapse > ul,
header nav .collapse > li {
  align-items: center;
  background: transparent;
}
header nav .collapse > ul .dropdown-menu,
header nav .collapse > li .dropdown-menu {
  background: rgba(67, 67, 67, 0.171);
}
header nav .collapse > ul > li {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3.5rem;
}
header nav .collapse > ul > li:hover,
header nav .collapse > ul > li:focus {
  background: #00000020;
}
header nav .collapse > ul > li > a {
  height: 3.5rem;
  line-height: 2.5rem;
  color: var(--text-gray);
}
header nav .collapse > ul > li > a:hover,
header nav .collapse > ul > li > a:focus {
  color: #fff;
}
header nav .navbar-brand {
  background: #00000020;
  padding: 14px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}
.banner {
  width: 100%;
  height: 70%;
  padding: 0 10%;
  background: url(../../picture/home-banner-algorithm.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.footbox {
  width: 100%;
  padding: 0 10%;
  background: url(../../picture/footer-bg.jpg);
  background-size: cover;
}
.footbox > .foot-top {
  width: 100%;
  height: 60%;
  border-bottom: 1px solid #ffffff29;
}
.footbox > .foot-top .foot-logo {
  width: 40%;
  height: 100%;
  padding-top: 2.5rem;
}
.footbox > .foot-top .foot-content {
  width: 60%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.footbox > .foot-top .foot-content > dl {
  white-space: nowrap;
}
.footbox > .foot-top .foot-content > dl > dt {
  margin-bottom: 2em;
  color: #dedede;
}
.footbox > .foot-top .foot-content > dl > dd {
  margin-bottom: 1em;
  font-size: 14px;
}
.footbox > .foot-top .foot-content > dl > dd > a {
  text-decoration: none;
  color: var(--text-gray);
}
.footbox > .foot-top .foot-content > dl > dd > a:focus {
  color: #fff;
}
.footbox > .about-me {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-between;
}
.footbox > .about-me > .cop {
  font-size: smaller;
  line-height: 0.7rem;
  padding-top: 1.25rem;
}
.footbox > .about-me > .cop > p {
  color: var(--text-gray);
}
.footbox > .about-me > .cop > p > a {
  color: var(--text-gray);
}
.footbox > .about-me > .cop > p > a:focus {
  color: #fff;
}
.footbox > .about-me > .cop .mt-4 {
  margin-top: 2rem !important;
}
.footbox > .about-me .ewm {
  padding-top: 1.25rem;
  text-align: end;
  display: block;
  width: 100px;
  position: relative;
}
.footbox > .about-me .ewm p {
  white-space: nowrap;
  margin-left: 1em;
  color: var(--text-gray);
  font-size: smaller;
}
