:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
  --line: hsla(0, 0%, 75%, 0.45);
  --line-o: hsla(0, 0%, 75%, 0.2);
}
.AiTechnology {
  position: relative;
  padding: 0 10%;
  padding-top: 8rem;
  text-align: center;
  padding-bottom: 4rem;
  z-index: 1;
}
.AiTechnology content {
  position: relative;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: center !important;
  text-align: center;
  width: max-content !important;
  max-width: 80%;
}
.AiTechnology content::after {
  position: absolute;
  top: 2rem;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../../picture/AiSatety-banner-text.png) no-repeat center;
}
.AiTechnology content h1 {
  font-size: xx-large;
  font-weight: 100;
}
.AiTechnology content text {
  padding-top: 2rem;
  display: block;
  width: max-content;
  margin: auto;
}
.AiTechnology content text p {
  color: var(--text-gray-hover);
  font-size: 1.25rem;
  width: max-content;
  text-align: left !important;
}
.AiTechnology content text p i {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: var(--text-gray-hover);
  vertical-align: middle;
  margin-right: 0.5rem;
}
.Security {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.Security .Security-bg {
  position: relative;
  background: no-repeat center center / cover;
}
.Security ul {
  margin: 0;
  padding: 0;
  width: max-content;
  position: absolute;
}
.Security ul li {
  color: var(--blue-gray);
  font-size: smaller;
}
.Security ul li i {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: var(--blue-gray);
  vertical-align: middle;
  margin-right: 0.8rem;
}
.Security ul:nth-child(1),
.Security ul:nth-child(2) {
  left: 15.78%;
}
.Security ul:nth-child(1) {
  top: 20%;
}
.Security ul:nth-child(2) {
  top: 75%;
}
.Security ul:nth-child(3),
.Security ul:nth-child(4) {
  right: 17.7%;
}
.Security ul:nth-child(3) {
  top: 6%;
}
.Security ul:nth-child(4) {
  top: 55%;
}
.programme {
  padding: 4rem 10% 0;
  position: relative;
}
.programme::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 0;
  left: 0%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.programme::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 0;
  right: 0%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.programme main[class*="body"] {
  width: 100%;
  height: max-content;
  padding: 4rem 0;
  position: relative;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.programme main[class*="body"] .head {
  text-align: center;
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
.programme main[class*="body"] .head .title {
  font-size: large;
  width: 100%;
}
.programme main[class*="body"] .head .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.programme main[class*="body"] .head .content span {
  font-size: small;
}
.programme main[class*="body"] .head .content i {
  font-style: normal;
  margin: 0.5em;
}
.programme main[class*="body"] .head .content .act {
  color: var(--bili-blue);
}
.programme main[class*="body"] main {
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(225deg, #1a4882 30%, #2580b3 100%);
}
.programme main[class*="body"] main > div {
  width: 100%;
}
.programme main[class*="body"] main .head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.programme main[class*="body"] main .head .row {
  padding: 0 2em;
  width: max-content;
  max-width: 100%;
  min-height: 50%;
  display: flex;
  flex-wrap: wrap;
}
.programme main[class*="body"] main .head .row div[class*="col-"] {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.programme main[class*="body"] main .head .row div[class*="col-"] .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
}
.programme main[class*="body"] main .head .row div[class*="col-"] .title h3 {
  color: var(--text-gray-hover);
  margin: 0;
}
.programme main[class*="body"] main .head .row div[class*="col-"] .title i {
  margin: 0 0.5em;
  font-size: xx-large;
  font-family: "iconfont";
  font-style: normal;
  color: var(--text-gray-hover);
}
.programme main[class*="body"] main .head .row div[class*="col-"] p {
  margin-top: 1em;
  color: var(--text-gray-hover) !important;
}
.programme main[class*="body"] main .head .row div[class*="col-"] p:not(first-child) {
  color: var(--text-lighter);
  text-align: left;
}
.programme main[class*="body"] main .head .row div[class*="col-"] picture {
  margin: auto;
}
.programme main[class*="body"] main .head .row div[class*="col-"] .pic-p2 {
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: -6px 6px 6px 0px #02020221;
}
.programme main[class*="body"] main .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.programme main[class*="body"] main .content > div {
  width: 100%;
  max-width: 100%;
  padding: 0 2em;
  height: max-content;
  min-height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.programme main[class*="body"] main .content .page > div {
  position: relative;
  width: calc(90% / 5);
  margin-bottom: 2em;
}
.programme main[class*="body"] main .content .page > div:hover > span {
  color: var(--bili-blue);
}
.programme main[class*="body"] main .content .page > div > span {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  color: var(--text-gray);
  text-align: center;
  background: var(--text-gray-hover);
}
.programme main[class*="body"] main .content .page > div > img {
  display: block;
  width: 100%;
}
.programme main[class*="body"] main .content .page-2 > div {
  width: calc(90% / 4);
}
.programme main[class*="body"] main .content .page-2 .lg {
  width: calc(90% / 2 + 34px);
}
.summary {
  width: 100%;
  height: max-content;
  padding: 4rem 0;
  position: relative;
}
.summary::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  left: -15%;
  background: linear-gradient(to right, #2f4da5, #5ba6e4);
}
.summary::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  top: 4rem;
  right: -15%;
  background: linear-gradient(to left, #2f4da5, #5ba6e4);
}
.summary .little {
  text-align: center;
  padding: 2rem 0;
  width: max-content;
  max-width: 100%;
  margin: auto;
}
.summary .little > *:not(:first-child) {
  margin-top: 0.5em;
}
.summary .little .title {
  font-size: large;
  width: 100%;
}
.summary .little .content {
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.summary .little .content span {
  font-size: small;
  color: var(--text-gray);
}
.summary .little .content span:focus {
  color: var(--bili-blue);
}
.summary .little .content i {
  margin: 0.5em;
}
.summary main {
  position: relative;
  width: 100%;
  max-height: 420px;
  padding: 0 5%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}
.summary main > div {
  width: 100%;
  background-size: cover !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.summary main > div .content {
  width: 100%;
  height: max-content;
  display: flex;
}
.summary main > div .content div[class*="col-"] {
  transition: all 0.5s ease;
  padding: 6rem 2.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.summary main > div .content div[class*="col-"]:not(:last-child) {
  border-right: 2px solid var(--line-o);
}
.summary main > div .content div[class*="col-"] > *:not(:first-child) {
  margin-top: 0.5em;
}
.summary main > div .content div[class*="col-"] .head {
  width: max-content;
  max-width: 100%;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--text-gray-hover);
}
.summary main > div .content div[class*="col-"] .head i {
  font-size: xxx-large;
  font-family: "iconfont";
  font-style: normal;
}
.summary main > div .content div[class*="col-"] .head span {
  margin-left: 1em;
}
.summary main > div .content div[class*="col-"] .msgbox {
  height: max-content;
  max-height: 7rem;
  min-height: 7rem;
  overflow-y: auto;
}
.summary main > div .content div[class*="col-"] .msgbox p {
  width: max-content;
  max-width: 100%;
  line-height: 1.5em;
  color: var(--text-gray-hover);
}
.head-button {
  position: relative;
  margin: auto;
  margin-bottom: 2rem;
  width: max-content;
  transform: translate(0%, 0);
  color: var(--bili-blue);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border: 2px;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}
.head-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--bili-blue), var(--blue-gray));
  z-index: -1;
}
.head-button::after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  width: 97%;
  height: 90%;
  background: #fff;
  z-index: -1;
  border-radius: 33px;
}
.head-button:hover::before {
  background-image: linear-gradient(to right, var(--blue-gray), var(--bili-blue));
}
