:root {
  --head-bg: rgba(3, 21, 75, 0.137);
  --head-bg-hover: rgba(3, 21, 75, 0.3);
  --text-gray: #9f9f9f;
  --text-gray-hover: #ffffff;
  --text-lighter: #d2d2d2;
  --header-bg-down: #000000b5;
  --bili-pink: #ff3272;
  --bili-blue: #00aeec;
  --blue-gray: #317fc6;
  --transparent-hover: #00000020;
  --line: hsl(0deg 0% 75% / 45%);
  --text-black-hover: #626262;
}
@media screen and (max-width: 1300px) {
  .pictureBox {
    flex-direction: column !important;
    > picture:not(:first-child) {
      margin: 1em 0 !important;
    }
  }
  .programme main .row div[class*="col-"] .msg .content p {
    max-width: 25em !important;
  }
}
@media screen and (max-width: 710px) {
  .AiTechnology {
    padding: 8rem 0 !important;
  }
  .AiTechnology .main {
    width: 100% !important;
  }
  .AiTechnology .main .pictureBox > picture {
    width: 80% !important;
  }
}
@media screen and (max-width: 765px) {
  .programme main .row div[class*="col-"] .msg {
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .programme main .row div[class*="col-"] .msg .content p {
    max-width: 22em !important;
  }
}
@media screen and (min-width: 1500px) {
  .programme main .row div[class*="col-"] .msg {
    margin-left: -50% !important;
  }
}
.AiTechnology {
  position: relative;
  padding: 8rem 10%;
  text-align: center;
  padding-bottom: 4rem;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    top: 4rem;
    left: 0;
    background: linear-gradient(to right, rgb(47, 77, 165), rgb(91, 166, 228));
  }
  &::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    top: 4rem;
    right: 0;
    background: linear-gradient(to left, rgb(47, 77, 165), rgb(91, 166, 228));
  }
  .AiTechnology-bg {
    position: absolute;
    display: block;
    z-index: 0;
    width: 100%;
    height: 73%;
    background: url(../../public/images/line-bg.svg) no-repeat center center;
    bottom: 0;
    left: 0;
    background-size: contain;
  }
  .AiTechnology-title {
    display: flex;
    max-width: 100%;
    min-height: 4rem;
    justify-content: space-between;
    .card {
      width: 20%;
      background: none;
      border: none;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 3rem;
          color: var(--text-gray);
          font-family: "iconfont" !important;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          background-image: linear-gradient(to right, #405cca, #59bbf1);
          -webkit-background-clip: text;
          color: transparent;
        }
        .card-body {
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .card-title {
            text-align: left;
            background-image: linear-gradient(to right, #405cca, #59bbf1);
            -webkit-background-clip: text;
            color: transparent;
            font-size: 1.5rem;
          }
          .card-text {
            color: var(--text-gray);
            font-size: small;
          }
        }
      }
    }
  }
  .navbar {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title {
    }
    .nav {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .line {
        color: rgba(0, 0, 0, 0.3);
        font-size: smaller;
      }
      .nav-item {
        margin: 0 1rem;
        padding: 0;
        a {
          padding: 0;
          color: var(--text-gray);
          font-size: small;
          &.active {
            color: var(--bili-blue);
          }
        }
      }
    }
  }
  .main {
    min-height: 45em;
    width: 75%;
    height: max-content;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    // background-image: linear-gradient(35deg, #2580b3 50%, #0a294f 50%);
    background-image: linear-gradient(5deg, #145273 5%, #0a294f 80%);
    .head {
      width: 100%;
      height: max-content;
      margin-top: 5rem;
      color: var(--text-lighter);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .title {
        color: var(--text-gray-hover);
      }
      > p {
        max-width: 70%;
        font-size: smaller;
        color: var(--text-gray);
        &:hover {
          color: var(--text-gray-hover);
        }
      }
    }
    .pictureBox {
      margin-top: 1rem;
      display: flex;
      width: 100%;
      min-height: 10rem;
      height: max-content;
      padding: 0 2%;
      align-items: center;
      justify-content: center;
      > picture {
        height: 100%;
        display: block;
        position: relative;
        background: center center no-repeat;
        background-size: cover;
        max-height: 300px;
        max-width: 100% !important;
        &.no {
          max-height: none;
        }
        &:not(:first-child) {
          margin-left: 0.5rem;
        }
        > img {
          width: 100%;
        }
        p {
          width: 100%;
          display: flex;
          justify-content: center;
          color: var(--text-gray-hover);
          background-color: var(--header-bg-down);
          position: absolute;
          bottom: 0;
          margin: 0;
          padding: 10px;
          font-size: smaller;
          font-weight: 100;
          text-align: left;
          align-items: center;
          padding-left: 0.5em;
        }
        .w {
          color: #000;
          background-color: var(--text-gray-hover);
          padding: 3px;
        }
      }
    }
    .content {
      margin-top: 2rem;
      width: 100%;
      height: max-content;
      min-height: 30em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: url(../../public/images/line-bg.svg) no-repeat center bottom;
      background-size: contain;
      .title-box {
        padding: 0 2%;
        width: 100%;
        min-height: 5em;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > * {
          color: var(--text-lighter);
          margin-top: 0.3em;
          &:first-child {
            color: var(--text-gray-hover);
            font-weight: lighter;
            margin-top: 0;
          }
          span {
            color: var(--text-lighter);
            &:hover {
              color: var(--text-gray-hover);
            }
          }
        }
        p {
          &:hover {
            color: var(--text-gray-hover);
          }
        }
      }
      .msg-box {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 80%;
        margin-top: 1em;
        padding-bottom: 3rem;
        .row {
          > div {
            display: flex;
            align-items: start;
            justify-content: center;
            dl {
              width: max-content;
              max-width: 100%;
              display: flex;
              align-items: self-start;
              flex-direction: column;
              dd {
                margin-top: 1em;
                color: var(--text-lighter);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: smaller;
                padding: 0.5em;
                &:hover {
                  color: var(--text-gray-hover);
                }
              }
            }
          }
        }
      }
    }
  }
}
.programme {
  padding: 2rem 10% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
  &::after {
    position: absolute;
    content: "";
    width: 40%;
    height: 2px;
    top: 0;
    left: 0%;
    background: linear-gradient(to right, rgb(47, 77, 165), rgb(91, 166, 228));
  }
  &::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 2px;
    top: 0;
    right: 0%;
    background: linear-gradient(to left, rgb(47, 77, 165), rgb(91, 166, 228));
  }
  .head {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    min-height: 5rem;
    align-items: center;
    justify-content: center;
    .title {
      color: black;
      opacity: 0.7;
    }
    p {
      color: var(--text-gray);
      font-size: small;
      &:hover {
        color: var(--text-black-hover);
      }
    }
  }
  main {
    height: max-content;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(225deg, #25a5b3 30%, #1a4882 100%) no-repeat;
    background-image: url(../../public/images/pro-apply-bg.jpg);
    background-size: cover;
    padding: 4rem 0;
    > div {
      width: 100%;
    }
    .row {
      padding: 0 2em;
      width: max-content;
      max-width: 100%;
      min-height: 50%;
      display: flex;
      flex-wrap: wrap;
      div[class*="col-"] {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        &:first-child {
          margin-bottom: 1em;
        }
        .msg {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          // align-items: center;
          .title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            max-width: 100%;
            flex-direction: column;
            h3 {
              color: #e3e3e3;
              margin: 0;
              &:hover {
                color: var(--text-gray-hover);
              }
            }
            i {
              margin: 0 0.5em;
              font-size: xx-large;
              font-family: "iconfont";
              font-style: normal;
              color: var(--text-gray-hover);
            }
          }
          .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            p {
              width: max-content;
              max-width: 30em;
              margin-top: 1em;
              font-size: 10px;
              color: var(--text-lighter);
              &:first-child {
                margin-top: 1.2rem;
              }
              &:hover {
                color: var(--text-gray-hover);
              }
            }
          }
        }
        picture {
          width: 100%;
          min-height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          height: max-content;
          > img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
