@media screen and (max-width: 768px) {
  .brief .ability div[class="col-4"] .box {
    height: 10rem !important;
  }
  .brief .ability div[class="col-4"] {
    width: 50%;
  }
}
.brief .ability {
  justify-content: space-between;
}
.brief .ability div[class="col-4"] {
  padding: 1rem;
}
.brief .ability div[class="col-4"] .box {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brief .ability div[class="col-4"] .box:hover {
  animation: objective-hover 0.15s ease-in-out;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.17);
}
.brief .ability div[class="col-4"] .box i {
  font-size: 5rem;
  background-image: linear-gradient(to bottom, #405cca, #59bbf1);
  -webkit-background-clip: text;
  color: transparent;
}
.brief .ability div[class="col-4"] .box p {
  margin-top: 1rem;
}
.brief .ability div[class="col-4"] .evenbg {
  background: #F6F6FE;
}
.brief .ability div[class="col-4"] .oddbg {
  background: #F1F1F1;
}
.contactMe {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0D1E59;
  position: relative;
}
.contactMe::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: url(../public/images/line-bg.svg) no-repeat center;
  background-size: cover;
  z-index: 0;
}
.contactMe h2 {
  color: #F1F1F1;
  margin-bottom: 2rem;
}
.contactMe .head-button {
  position: relative;
  width: max-content;
  transform: translate(0%, 0);
  color: #F1F1F1;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border: 2px;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
  z-index: 1;
}
.contactMe .head-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--bili-blue), var(--blue-gray));
  z-index: -1;
}
.contactMe .head-button::after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  width: 97%;
  height: 90%;
  background: #0D1E59;
  z-index: -1;
  border-radius: 33px;
}
.contactMe .head-button:hover::before {
  background-image: linear-gradient(to right, var(--blue-gray), var(--bili-blue));
}
