.brief{
      .ability {
          div[class="col-4"] {
            padding: 1rem;
      
            .box {
              height: 20rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
      
              i {
                font-size: 5rem;
                background-image: linear-gradient(to bottom,
                    rgb(64, 92, 202),
                    rgb(89, 187, 241));
                -webkit-background-clip: text;
                color: transparent;
              }
      
              p {
                margin-top: 1rem;
              }
            }
      
            .evenbg {
              background: #F6F6FE;
            }
      
            .oddbg {
              background: #F1F1F1;
            }
          }
      
        }
}